/*keep*/
article{

  font-family:  'Baskervville', serif;
  font-size: 15px;

color: white;
position: relative;


}
/*keep*/
.icon{  color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
}


/*keep*/
nav:not(#different){
position: relative;
  font-family: 'Baskervville', serif;
  font-size: 46px;
  width: 290px;
  top:150px;
  left: -20px;
  text-align: left;
  align-items: left;
  grid-column-start: 2;
  color: white;


}
/*keep*/
video{

  opacity: 0.85;
  filter: alpha(opacity=80);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/*keep*/
#menu{

  border-bottom: 2px solid grey;
}
/*keep*/
li:not(#different){

  -webkit-transition: all 0.5s ease-in-out; 
  color: white;

  
 } 
  
/*keep*/
 a { text-decoration: none;
  position: relative;}
/*keep*/
 li:hover:not(.different) {
  transform: scale(1.1);
  cursor: pointer;
  text-shadow: 2px 2px 5px  white, 0 0 5px grey,0 -4px 15px silver;
  left: 0;
  animation-play-state: paused
 }

/*keep*/
.events{
grid-column-start: 4;
grid-row-start:   4; 



}
/*keep*/
.skills{
grid-column-start: 3;
grid-row-start:   4; 



}
/*Keep*/
.containerbio{
   font-family:  'Baskervville', serif;
margin: 0;
  display: grid;
  grid-template-columns: 16% 350px 300px  300px ;
  grid-template-rows: 155px 200px 60px 100px ;
  grid-gap: 30px;
position: relative;
}
/*keep*/
#item{
  display: flex;
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 2;
 grid-row-end: 3;
        
}
/*keep*/
#item3{
  display: flex;
 grid-column-start: 3;
 grid-column-end: 5;
 grid-row-start: 2;
 grid-row-end: 3;

}
/*keep*/
#item2{

grid-column-start: 4;
 grid-column-end: 5;
 grid-row-start: 2;
 grid-row-end: 3;
     


}
/*keep*/
.profile{
border-radius: 50% 50% 50% 50%;


}
/*keep*/
#bio{
  padding: 20px;
  grid-column-start: 3;
grid-row-start: 2;

grid-column-end: 5;


}
/*Keep*/
#item4{
grid-column-start: 3;
grid-row-start: 3;

justify-self: center;

}
/*Keep*/
#item5{
grid-column-start: 4;
grid-row-start: 3;

justify-self: center;
}



/*keep*/
.tv {
  position: relative;
  width: 350px;
  height: 550px;
  background: white;
 border-radius: 50% 50% 50% 50% / 5% 5% 5% 5% ;
  color: black;
 box-shadow: 10px 10px rgba(0,0,0,.35);
  transition: all .4s ease;
   filter: grayscale(25%);
   border-width:5px;  
    border-style:outset;
    border-left-color: rgb(204, 102, 0);
    border-right-color: rgb(204, 102, 0);


}
.an{
animation-duration: 2s;

}

